@{
    ViewBag.Title = "Экипировка ст.'Карьерная ГД'. Заправочная ведомость";
    ViewBag.section = "Заправочная ведомость";
}

@section styles {
    @Styles.Render("~/jquery-ui/css")
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/report/report.css">
}

@section scripts {

    <script>
        $('body').addClass('img-header-global');
    </script>

    <script>
        var mode_run = '@System.Configuration.ConfigurationManager.AppSettings["ModeRun"]';
        var logs = '@System.Configuration.ConfigurationManager.AppSettings["Logs"]';
    </script>

    @Scripts.Render("~/bundles/Ajax")
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")

    <script src="~/Scripts/shared/common.js" type="text/javascript"></script>
    <script src="~/Scripts/shared/tsk_api.js" type="text/javascript"></script>
    <script src="~/Scripts/report/report_fuel_sale.js" type="text/javascript"></script>
}


<div id="report" class="report-narrow">
    <div id="panel-select">
    </div>
    <div id="tabs-reports">
        <ul>
            <li><a href="#tabs-report-1" id="link-tabs-report-1"></a></li>
            @*<li><a href="#tabs-report-2" id="link-tabs-report-2"></a></li>*@
        </ul>
        <div id="tabs-report-1">
            <table class='display compact table-bordered fuel-list-table' id="table-report" style="width:100%" cellpadding="0">
                @*<tfoot>
                        <tr><th colspan="5" class="title-foot">ИТОГО A92: </th><td class="total-foot" id="a92-volume"></td><td class="total-foot" id="a92-mass"></td><th colspan="8"></th></tr>
                        <tr><th colspan="5" class="title-foot">ИТОГО A95: </th><td class="total-foot" id="a95-volume"></td><td class="total-foot" id="a95-mass"></td><th colspan="8"></th></tr>
                        <tr><th colspan="5" class="title-foot">ИТОГО ДТ: </th><td class="total-foot" id="dt-volume"></td><td class="total-foot" id="dt-mass"></td><th colspan="8"></th></tr>
                        <tr><th colspan="5" class="title-foot">ИТОГО Керосин: </th><td class="total-foot" id="kerosin-volume"></td><td class="total-foot" id="kerosin-mass"></td><th colspan="8"></th></tr>
                    </tfoot>*@
            </table>
        </div>
    </div>

</div>
