@{
    ViewBag.Title = "Экипировка ст. 'Карьерная ГД'";
    ViewBag.section = "Отчетная документация";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/report/homemenu.css">
}

@section scripts {
    <script>
        $('body').addClass('img-header-global');
    </script>
}
<ul class="ca-menu">
    <li>
        <a href='@Url.Action("DailyAccountingReport", "Home", new { Area = "" })'>
            <span class="ca-icon">P</span>
            <div class="ca-content">
                <h2 class="ca-main">Суточный</h2>
                <h3 class="ca-sub">Суточный отчет по Экипировка ст.'Карьерная ГД'</h3>
            </div>
        </a>
    </li>
    <li>
        <a href='@Url.Action("ReceivingFuel", "Home", new { Area = "" })'>
            <span class="ca-icon">X</span>
            <div class="ca-content">
                <h2 class="ca-main">Прием ДТ</h2>
                <h3 class="ca-sub">Отчёт приёма ДТ в резервуары</h3>
            </div>
        </a>
    </li>
    <li>
        <a href='@Url.Action("FuelSale", "Home", new { Area = "" })'>
            <span class="ca-icon">J</span>
            <div class="ca-content">
                <h2 class="ca-main">Заправочная ведомость</h2>
                <h3 class="ca-sub">Заправочная ведомость, выдача ДТ</h3>
            </div>
        </a>
    </li>
    <li>
        <a href='@Url.Action("Remains", "Home", new { Area = "" })'>
            <span class="ca-icon">F</span>
            <div class="ca-content">
                <h2 class="ca-main">Остатки</h2>
                <h3 class="ca-sub">Отчет по остаткам ДТ</h3>
            </div>
        </a>
    </li>
    <li>
        <a href='@Url.Action("ShiftReport", "Home", new { Area = "" })'>
            <span class="ca-icon">U</span>
            <div class="ca-content">
                <h2 class="ca-main">Сменный отчет</h2>
                <h3 class="ca-sub">Отчет по выдачи ДТ за сменну</h3>
            </div>
        </a>
    </li>


</ul>
@*<div class="more">
    <ul>
        <li>АСУ АЗС:</li>
        <li><a href='@Url.Action("Logs", "Home", new { Area = "" })'>Логи системы</a></li>
    </ul>
</div>*@

